.container-icon-section {
  width: 90%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 30px;
}
.icon-section:hover {
  scale: 1.1;
}

.icon-section {
  min-width: 250px;
  max-width: 350px;
  margin: 1%;
  width: 30%;
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px;
  border: 8px outset;
  border-radius: 30px;
  flex-grow: 1;
  background-color: white;
  transition: all .5s ease;
}

.img-div {
  background-size: cover;
  background-repeat: round;
  width: 70px;
  height: 70px;
  border: 3px outset;
  border-radius: 50%;

}

.section-title-icon {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: var(--secondary-color);
}

.section-content-icon {
  font-size: 1rem;
  text-align: center;
}

#apple-card {
   border-color: #75fb4c;
}

#apple-card:hover {
  background-color: rgba(117, 251, 76, .2);
}

#apple {
  background-image: url("../img/manzana.png");
  border-color: #75fb4c;
}

#exercise {
  background-image: url("../img/pesa.png");
  border-color: #e0944c;
}

#exercise-card:hover {
  background-color: rgba(224, 148, 76, .2);
}

#exercise-card {
  border-color: #e0944c;
}

#sleep {
  background-image: url("../img/luna.png");
  border-color: #fffc54;
}

#sleep-card:hover {
  background-color: rgba(255, 252, 84, .2);
}

#sleep-card {
  border-color: #fffc54;
}

#hidro {
  background-image: url(../img/agua.png);
  border-color: #78fcfc;
}

#hidro-card:hover {
  background-color: rgba(120, 252, 252, .2);
}

#hidro-card {
  border-color: #78fcfc;
}

#stress {
  background-image: url("../img/yoga.png");
  border-color: #684ca4;
}

#stress-card:hover {
  background-color: rgba(104, 76, 164, .2);
}

#stress-card {
  border-color: #684ca4;
}

#regular {
  background-image: url("../img/reloj.png");
  border-color: #a09c9c;
}

#regular-card:hover {
  background-color: rgba(160, 156, 156, .2);
}

#regular-card {
  border-color: #a09c9c;
}

@media (max-width: 768px) {
  .container-icon-section{
    flex-wrap: nowrap;
    overflow: scroll;
    overflow-y: hidden;
    scrollbar-width: auto;
    scrollbar-color: var(--primary-color) white;
  }
  .icon-section {
    flex: 1 0 auto;
    margin: 20px 30px;
  }
}

