@import url(index.css);
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");

:root {
  --primary-color: #335ff6;
  --secondary-color: #364353;
  --all-text-shadow: 1px 1px 2px black, -1px -1px 2px black, -1px 1px 2px black,
    1px -1px 2px black, 0 0 2px black;
  font-family: "Oswald", sans-serif;
  font-weight: 300;
  font-style: normal;
}

/* Estilos generales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Page */
.page {
  background: var(--primary-color);
  height: 1200px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/* Contenedor*/
.content {
  min-width: 260px;
  width: 80%;
  height: 100%;
  background-color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-wrap: wrap;
  transition: width 0.5s ease;
}

.h2-sub {
  color: red;
}
