/*CSS form*/
.form-BMI {
  background: white;
  width: 350px;
  height: 300px;
  border: solid;
  border-width: 0 1px 1px 0;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: relative;

}
.h3-BMI {
  color: #364353;
}
/* CSS Button*/
.btn-form-BMI {
  width: 40%;
  background-color: white;
  border-radius: 20px;
  border: 1px solid;
  cursor: pointer;
}
.btn-form-BMI:hover {
  background-color: #335ff6;
  color: white;
}

.radio-form-BMI {
  border: 1px solid;
  display: flex;
  justify-content: space-evenly;
}

.contentlbl-form-BMI{
  border: 1px solid;
  text-align: center;
  display: flex;
  justify-content: space-evenly;

}

.input-form-BMI {
  width: 40%;
}

.result-form-BMI {
  border-radius: 10px 100px 100px 10px;
  
  width: 90%;
  height: 40%;
  color: white;
  background: #335ff6;


}

.lbl-input-form-BMI{
  width: 48%;
  border: 1px solid;
  color: blue;
  display: inline-block;
}



